@tailwind base;
@tailwind components;
@tailwind utilities;

.flags{
    width: 40px;
    -o-ojeect-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    border: 1px solid #ffC107;
}